<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Computer store</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="./Stylesheets/main-page-style.css"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.0.7/css/all.css"
    />
  </head>

  <header class="page-header">
    <div class="panel wrapper">
      <div class="panel header" id="panel-header-hide-menu-on-scroll">
        <div class="header-top-links">
          <ul>
            <!-- <li>
              <a
                href="#"
                target="_blank"
                style="text-decoration: none; color: black;"
                >Computer store</a
              >
            </li> -->
          </ul>
        </div>
        <ul class="header links">
          <li><a href="login-page.html">Login</a></li>
          <li><a href="register-page.html">Register</a></li>
          
        </ul>
      </div>

      <div class="header-sticky" id="header-sticky">
        <div class="icon-logo-header left">
          <a href="main.html">
            <img
              alt="icon"
              src="./Icon_image/laptop.png"
              width="100"
              height="45"
            />
          </a>
        </div>

        <div class="category-header left">
          <button class="category-header-dropbtn">
            <i
              class="fas fa-bars"
              style="padding-right: 8px; margin-top: 3.20px;"
            ></i>
            <p style="margin: 0px;">Category</p>
          </button>
          <div class="category-header-dropdown-content">
            <a href="all-notebook-product-page.html">Notebook</a>
            <a href="#">Smartphone</a>
            <a href="#">Tablet</a>
          </div>
        </div>

        <div class="showcart-header right">
          <a href="cart-page.html"><i class="fas fa-shopping-cart"></i></a>
        </div>

        <!-- <div class="user-header right">
          <i class="fas fa-user"></i>
        </div> -->

        <div class="search-container right">
          <form action="#new-arrival">
            <input type="text" placeholder="Search..." name="search" />
            <button type="submit"><i class="fa fa-search"></i></button>
          </form>
        </div>
      </div>
    </div>
  </header>

  <body>
    <div class="slideshow-container-advertisement">
      <div class="mySlides_slideshow_advertisement fade">
        <img
          src="./Promotion_image/Promotion_img_1.jpg"
          style="width:100%; height: 100%;"
        />
      </div>

      <div class="mySlides_slideshow_advertisement fade">
        <img src="./Promotion_image/Promotion_img_2.jpg" style="width:100%" />
      </div>

      <div class="mySlides_slideshow_advertisement fade">
        <img src="./Promotion_image/Promotion_img_3.jpg" style="width:100%" />
      </div>

      <div class="mySlides_slideshow_advertisement fade">
        <img src="./Promotion_image/Promotion_img_4.jpg" style="width:100%" />
      </div>

      <a
        class="prev_slideshow_container_advertisement"
        onclick="plusSlides_slideshow_container_advertisement(-1, 0)"
        >&#10094;</a
      >
      <a
        class="next_slideshow_container_advertisement"
        onclick="plusSlides_slideshow_container_advertisement(1, 0)"
        >&#10095;</a
      >
      
    </div>

    <div class="banner-container">
      <div class="owl-item">
        <a href="#"
          ><img
            src="https://www.bnn.in.th/pub/media/tigren/banners/banner-pro-400px-01.jpg"
        /></a>
      </div>

      <div class="owl-item">
        <a href="#"
          ><img
            src="https://www.bnn.in.th/pub/media/tigren/banners/banner-pro-400px-02.jpg"
        /></a>
      </div>
      <div class="owl-item">
        <a href="#"
          ><img
            src="https://www.bnn.in.th/pub/media/tigren/banners/banner-pro-400px-03.jpg"
        /></a>
      </div>

      <div class="owl-item">
        <a href="#"
          ><img
            src="https://www.bnn.in.th/pub/media/tigren/banners/banner-pro-400px-04.jpg"
        /></a>
      </div>

      <div class="owl-item">
        <a href="#"
          ><img
            src="https://www.bnn.in.th/pub/media/tigren/banners/notebook-top20-banner-400px-2.jpg"
        /></a>
      </div>

      <div class="owl-item">
        <a href="#"
          ><img
            src="https://www.bnn.in.th/pub/media/tigren/banners/Creditcardpromo_400x187_2.jpg"
        /></a>
      </div>
    </div>

    <h1 id="promotion">
      <a
        href="promotion-page.html"
        style="text-decoration: none; color: black; cursor: pointer;"
        >Promotion</a
      >
    </h1>
    <div class="line"></div>
    <br />
    <div class="container-promotion" style="text-align: center;">
      <div class="row">
        <div class="slideshow-container-promotion">
          <h3 class="promotion-tag">GOLDEN TIME</h3>
          <div class="slides-promotion fade">
            <img
              src="Notebook_image/Apple/apple-2017.jpg"
              class="image-promotion"
              style="width: 80%; display: block;
              margin-left: auto;
              margin-right: auto;"
            />
          </div>
          <div class="slides-promotion fade">
            <img
              src="Notebook_image/Apple/apple-2018-retina.jpg"
              class="image-promotion"
              style="width: 80%; display: block;
              margin-left: auto;
              margin-right: auto;"
            />
          </div>
          <div class="slides-promotion fade">
            <img
              src="Notebook_image/Apple/apple-2018.jpg"
              class="image-promotion"
              style="width: 80%; display: block;
              margin-left: auto;
              margin-right: auto;"
            />
          </div>

          <a class="prev-promotion" onclick="plusSlides_promotion(-1)">&#10094;</a>
          <a class="next-promotion" onclick="plusSlides_promotion(1)">&#10095;</a>
          <div class="container-dot">
            <span class="dot" onclick="currentSlide_promotion(1)"></span>
            <span class="dot" onclick="currentSlide_promotion(2)"></span>
            <span class="dot" onclick="currentSlide_promotion(3)"></span>
          </div>
        </div>

        <div class="column-right">
          <img
            src="Promotion_image/gaming-notebook-banner.jpg"
            class="image-promotion"
          />
          <img
            src="Promotion_image/surface-banner-hl-3.jpg"
            class="image-promotion"
          />
          <img
            src="Promotion_image/apple-shop-banner-aug.jpg"
            class="image-promotion"
            style="width: 82%;"
          />
        </div>
      </div>
    </div>

    <h1 id="new-arrival">New Arrival</h1>
    <div class="new-arrival-container">
      <div class="card">
        <div class="owl-item">
          <a href="#"
            ><img
              src="Notebook_image/Dell/Dell-11.6-Inspiron-11-3000-Series-Multi-Touch-2-in-1-Notebook.jpg"
          /></a>
          <h5 class="brand-product">DELL</h5>
          <a class="product-detail" href="#">
            <h5>Dell 11.6 Inspiron-11 3000 Series Multi Touch 2-in-1 Notebook</h5>
          </a>
          
          <h5 class="price-product">
            <span class="thai-bath-sign">&#3647;</span>
            30,000
          </h5>

          <div class="add-to-cart-button">
            <button><i class="fas fa-shopping-cart" >
                <span style="margin-left: 10px;">ADD TO CART</span>
                </i>
            </button>
          </div>
          
        </div>
      </div>

      <div class="card">
        <div class="owl-item">
          <a href="product-detail-page.html"
            ><img
              src="Notebook_image/Dell/Dell-13.3-Inspiron-13-5000-Series-Multi-Touch-2-in-1-Notebook.jpg"
          /></a>
          <h5 class="brand-product">DELL</h5>
          <a class="product-detail" href="#">
            <h5>Dell 13.3 Inspiron-13 5000 Series Multi Touch 2-in-1-Notebook</h5>
          </a>
          <h5 class="price-product">
            <span class="thai-bath-sign">&#3647;</span>
            40,000
          </h5>

          <div class="add-to-cart-button">
            <button><i class="fas fa-shopping-cart" >
                <span style="margin-left: 10px;">ADD TO CART</span>
                </i>
            </button>
          </div>

        </div>
      </div>

      <div class="card">
        <div class="owl-item">
          <a href="#"
            ><img
              src="Notebook_image/Lenovo/Lenovo-14-IdeaPad-Flex-Pro-Multi-Touch-2-in-1-Laptop-(Platinum).jpg"
          /></a>
          <h5 class="brand-product">LENOVO</h5>
          <a class="product-detail" href="#">
            <h5>Lenovo 14 IdeaPad Flex Pro Multi Touch 2-in-1 Laptop (Platinum)</h5>
          </a>
          <h5 class="price-product">
            <span class="thai-bath-sign">&#3647;</span>
            55,000
          </h5>

          <div class="add-to-cart-button">
            <button><i class="fas fa-shopping-cart" >
                <span style="margin-left: 10px;">ADD TO CART</span>
                </i>
            </button>
          </div>

        </div>
      </div>

      <div class="card">
        <div class="owl-item">
          <a href="#"
            ><img
              src="Notebook_image/Microsoft/Microsoft-Surface-Book-2-13.5-Touch-Screen-PixelSense™-2-in-1-Laptop-Intel-Core-i7-16GB-Memory-512GB-SSD- Silver.jpg"
          /></a>
          <h5 class="brand-product">MICROSOFT</h5>
          <a class="product-detail" href="#">
            <h5>Microsoft Surface Book 2-13.5 Touch Screen PixelSense™ 2-in-1 Laptop</h5>
          </a>
          <h5 class="price-product">
            <span class="thai-bath-sign">&#3647;</span>
            75,000
          </h5>

          <div class="add-to-cart-button">
            <button><i class="fas fa-shopping-cart" >
                <span style="margin-left: 10px;">ADD TO CART</span>
                </i>
            </button>
          </div>
          
        </div>
      </div>

      <div class="card">
        <div class="owl-item">
          <a href="#"
            ><img
              src="Notebook_image/Microsoft/Microsoft-Surface-Pro 6-12.3-Touch-Screen-Intel-Core-i5-8GB-Memory-128GB-Solid-State-Drive-(Latest Model)-Platinum.jpg"
          /></a>
          <h5 class="brand-product">MICROSOFT</h5>
          <a class="product-detail" href="#">
            <h5>Microsoft-Surface-Pro 6-12.3 Touch-Screen</h5>
          </a>
          <h5 class="price-product">
            <span class="thai-bath-sign">&#3647;</span>
            27,500
          </h5>

          <div class="add-to-cart-button">
            <button><i class="fas fa-shopping-cart" >
                <span style="margin-left: 10px;">ADD TO CART</span>
                </i>
            </button>
          </div>

        </div>
      </div>

      <div class="card">
        <div class="owl-item">
          <a href="#"
            ><img src="Notebook_image/Dell/Dell-15.6-XPS-15-9570.jpg "
          /></a>
          <h5 class="brand-product">DELL</h5>
          <a class="product-detail" href="#">
            <h5>Dell 15.6 XPS 15 9570</h5>
          </a>
          <h5 class="price-product">
            <span class="thai-bath-sign">&#3647;</span>
            35,000
          </h5>

          <div class="add-to-cart-button">
            <button><i class="fas fa-shopping-cart" >
                <span style="margin-left: 10px;">ADD TO CART</span>
                </i>
            </button>
          </div>

        </div>
      </div>
    </div>
  </body>

  <footer>
    <div class="footer-flex-container">
      <div class="footer-column1">
        <ul style="list-style-type: none;">
          <li><strong>About Us</strong></li>
          <li><a href="#">Who we are</a></li>
          <li><a href="#">Terms and condition</a></li>
          <li><a href="#">Privacy Policy</a></li>
          <li><a href="#">Contact Us</a></li>
        </ul>
      </div>

      <div class="footer-column2">
        <ul style="list-style-type: none;">
          <li><strong>Customer Services</strong></li>
          <li><a href="#">Check Shipping Status</a></li>
          <li><a href="#">How to register</a></li>
          <li><a href="#">How to order</a></li>
          <li><a href="#">Payment Methods</a></li>
          <li><a href="#">Shipping</a></li>
        </ul>
      </div>

      <div class="footer-column3">
        <ul style="list-style-type: none;">
          <li><strong>Customer Services</strong></li>
          <li><a href="#">Warranty</a></li>
          <li><a href="#">Return</a></li>
          <li><a href="#">Refunds</a></li>
          <li><a href="#">How to Cancel</a></li>
          <li><a href="#">Click and collect</a></li>
        </ul>
      </div>

      <div class="footer-column4">
        <ul style="list-style-type: none;">
          <li><strong>Get Our News</strong></li>
          <li>
            <a href="#"
              >Subscribe to our news today to get exclusive privileges</a
            >
          </li>

          <div class="subscribe-footer">
            <form action="">
              <input
                type="text"
                placeholder="Enter your email address"
                name="email-subscribe"
                class="custom-input-subscribe"
              />
              <button type="submit" class="custom-button-subscribe">
                <span>SUBSCRIBE</span>
              </button>
            </form>
          </div>

          <div class="social-footer">
            <h4>Stay Connected</h4>
            <div class="fb-connect">
              <a href="#"
                ><img
                  src="https://www.bnn.in.th/pub/media/wysiwyg/new-fb-logo.png"
              /></a>
              <p style="margin-top: 0;">
                <span>
                  Find us<br />on<a
                    href="#"
                    style="text-decoration: none; margin-left: 4px; color: blue;"
                    >Facebook</a
                  >
                </span>
              </p>
            </div>
          </div>
        </ul>
      </div>
    </div>

    <div class="footer-flex-container-mobile-version">
      <button class="footer-collapsible-button">About Us</button>
      <div class="footer-collapsible-content">
        <ul style="list-style-type: none;">
          <li><a href="#">Who we are</a></li>
          <li><a href="#">Terms and condition</a></li>
          <li><a href="#">Privacy Policy</a></li>
          <li><a href="#">Contact Us</a></li>
        </ul>
      </div>

      <button class="footer-collapsible-button">Customer Services</button>
      <div class="footer-collapsible-content">
        <ul style="list-style-type: none;">
          <li><a href="#">Check Shipping Status</a></li>
          <li><a href="#">How to register</a></li>
          <li><a href="#">How to order</a></li>
          <li><a href="#">Payment Methods</a></li>
          <li><a href="#">Shipping</a></li>
        </ul>
      </div>

      <button class="footer-collapsible-button">Customer Services</button>
      <div class="footer-collapsible-content">
        <ul style="list-style-type: none;">
          <li><a href="#">Warranty</a></li>
          <li><a href="#">Return</a></li>
          <li><a href="#">Refunds</a></li>
          <li><a href="#">How to Cancel</a></li>
          <li><a href="#">Click and collect</a></li>
        </ul>
      </div>

      <div class="subscribe-form-and-stay-connected">
        <ul style="list-style-type: none;">
          <li><strong>Get Our News</strong></li>
          <li>
            <a href="#"
              >Subscribe to our news today to get exclusive privileges</a
            >
          </li>

          <div class="subscribe-footer">
            <form action="">
              <input
                type="text"
                placeholder="Enter your email address"
                name="email-subscribe"
                class="custom-input-subscribe"
              />
              <button type="submit" class="custom-button-subscribe">
                <span>SUBSCRIBE</span>
              </button>
            </form>
          </div>

          <div class="social-footer">
            <h4>Stay Connected</h4>
            <div class="fb-connect">
              <a href="#"
                ><img
                  src="https://www.bnn.in.th/pub/media/wysiwyg/new-fb-logo.png"
              /></a>
              <p style="margin-top: 0;">
                <span>
                  Find us<br />on<a
                    href="#"
                    style="text-decoration: none; margin-left: 4px; color: blue;"
                    >Facebook</a
                  >
                </span>
              </p>
            </div>
          </div>
        </ul>
      </div>
    </div>
  </footer>
  <script
    type="text/javascript"
    src="JavaScript/main-page-javascript.js"
  ></script>
</html>
