{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Computer store</title>
    <link
      rel="icon"
      type="image/png"
      href="{% static 'Image/Icon_image/laptop.png' %}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'Stylesheets/main-page-style.css' %}"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.0.7/css/all.css"
    />
  </head>

  <header class="page-header">
    <div class="panel wrapper">
      <div class="panel header" id="panel-header-hide-menu-on-scroll">
        {% if user.is_authenticated %}
        <ul class="header links">
          <li><a href="#">{{ user.get_username }}</a></li>
          <!-- SIGNOUT_BUTTON -->
          <form
            class="signout-form"
            method="POST"
            action="{% url 'cp_shop_online_app:logout_page' %}"
          >
            {% csrf_token %}
            <button class="signout-btn">Sign Out</button>
          </form>
        </ul>
        {% else %}
        <ul class="header links">
          <li><a href="{% url 'cp_shop_online_app:login_page' %}">Login</a></li>
          <li>
            <a href="{% url 'cp_shop_online_app:register_page' %}">Register</a>
          </li>
        </ul>
        {% endif %}
      </div>

      <div class="header-sticky" id="header-sticky">
        <div class="icon-logo-header left">
          <a href="{% url 'cp_shop_online_app:main_page' %}">
            <img
              alt="icon"
              src="{% static 'Image/Icon_image/laptop.png' %}"
              width="100"
              height="45"
            />
          </a>
        </div>

        <div class="category-header left">
          <button class="category-header-dropbtn">
            <i
              class="fas fa-bars"
              style="padding-right: 8px; margin-top: 3.20px;"
            ></i>
            <p style="margin: 0px;">Category</p>
          </button>
          <div class="category-header-dropdown-content">
            <a href="{% url 'cp_shop_online_app:all_notebook_product_page' %}"
              >Notebook</a
            >
            <!-- <a href="#">Smartphone</a>
            <a href="#">Tablet</a> -->
          </div>
        </div>

        <div class="showcart-header right">
          <a href="cart-page.html"><i class="fas fa-shopping-cart"></i></a>
        </div>

        <div class="search-container right">
          <form action="#new-arrival">
            <input type="text" placeholder="Search..." name="search" />
            <button type="submit"><i class="fa fa-search"></i></button>
          </form>
        </div>
      </div>
    </div>
  </header>

  <body>
    {% block content %} {{ block.super }} {% endblock %}
  </body>

  <footer>
    <div class="footer-flex-container">
      <div class="footer-column1">
        <ul style="list-style-type: none;">
          <li><strong>About Us</strong></li>
          <li><a href="#">Who we are</a></li>
          <li><a href="#">Terms and condition</a></li>
          <li><a href="#">Privacy Policy</a></li>
          <li><a href="#">Contact Us</a></li>
        </ul>
      </div>

      <div class="footer-column2">
        <ul style="list-style-type: none;">
          <li><strong>Customer Services</strong></li>
          <li><a href="#">Check Shipping Status</a></li>
          <li><a href="#">How to register</a></li>
          <li><a href="#">How to order</a></li>
          <li><a href="#">Payment Methods</a></li>
          <li><a href="#">Shipping</a></li>
        </ul>
      </div>

      <div class="footer-column3">
        <ul style="list-style-type: none;">
          <li><strong>Customer Services</strong></li>
          <li><a href="#">Warranty</a></li>
          <li><a href="#">Return</a></li>
          <li><a href="#">Refunds</a></li>
          <li><a href="#">How to Cancel</a></li>
          <li><a href="#">Click and collect</a></li>
        </ul>
      </div>

      <div class="footer-column4">
        <ul style="list-style-type: none;">
          <li><strong>Get Our News</strong></li>
          <li>
            <a href="#"
              >Subscribe to our news today to get exclusive privileges</a
            >
          </li>

          <div class="subscribe-footer">
            <form action="">
              <input
                type="text"
                placeholder="Enter your email address"
                name="email-subscribe"
                class="custom-input-subscribe"
              />
              <button type="submit" class="custom-button-subscribe">
                <span>SUBSCRIBE</span>
              </button>
            </form>
          </div>

          <div class="social-footer">
            <h4>Stay Connected</h4>
            <div class="fb-connect">
              <a href="#"
                ><img
                  src="https://www.bnn.in.th/pub/media/wysiwyg/new-fb-logo.png"
              /></a>
              <p style="margin-top: 0;">
                <span>
                  Find us<br />on<a
                    href="#"
                    style="text-decoration: none; margin-left: 4px; color: blue;"
                    >Facebook</a
                  >
                </span>
              </p>
            </div>
          </div>
        </ul>
      </div>
    </div>

    <div class="footer-flex-container-mobile-version">
      <button class="footer-collapsible-button">About Us</button>
      <div class="footer-collapsible-content">
        <ul style="list-style-type: none;">
          <li><a href="#">Who we are</a></li>
          <li><a href="#">Terms and condition</a></li>
          <li><a href="#">Privacy Policy</a></li>
          <li><a href="#">Contact Us</a></li>
        </ul>
      </div>

      <button class="footer-collapsible-button">Customer Services</button>
      <div class="footer-collapsible-content">
        <ul style="list-style-type: none;">
          <li><a href="#">Check Shipping Status</a></li>
          <li><a href="#">How to register</a></li>
          <li><a href="#">How to order</a></li>
          <li><a href="#">Payment Methods</a></li>
          <li><a href="#">Shipping</a></li>
        </ul>
      </div>

      <button class="footer-collapsible-button">Customer Services</button>
      <div class="footer-collapsible-content">
        <ul style="list-style-type: none;">
          <li><a href="#">Warranty</a></li>
          <li><a href="#">Return</a></li>
          <li><a href="#">Refunds</a></li>
          <li><a href="#">How to Cancel</a></li>
          <li><a href="#">Click and collect</a></li>
        </ul>
      </div>

      <div class="subscribe-form-and-stay-connected">
        <ul style="list-style-type: none;">
          <li><strong>Get Our News</strong></li>
          <li>
            <a href="#"
              >Subscribe to our news today to get exclusive privileges</a
            >
          </li>

          <div class="subscribe-footer">
            <form action="">
              <input
                type="text"
                placeholder="Enter your email address"
                name="email-subscribe"
                class="custom-input-subscribe"
              />
              <button type="submit" class="custom-button-subscribe">
                <span>SUBSCRIBE</span>
              </button>
            </form>
          </div>

          <div class="social-footer">
            <h4>Stay Connected</h4>
            <div class="fb-connect">
              <a href="#"
                ><img
                  src="https://www.bnn.in.th/pub/media/wysiwyg/new-fb-logo.png"
              /></a>
              <p style="margin-top: 0;">
                <span>
                  Find us<br />on<a
                    href="#"
                    style="text-decoration: none; margin-left: 4px; color: blue;"
                    >Facebook</a
                  >
                </span>
              </p>
            </div>
          </div>
        </ul>
      </div>
    </div>
  </footer>
  <script
    type="text/javascript"
    src="{% static 'JavaScript/main-page-javascript.js' %}"
  ></script>
</html>
