{% extends 'web_page/base-layout.html' %}
{% load staticfiles %}

{% block content %}
  <link rel="stylesheet" type="text/css" href="{% static 'Stylesheets/login-page-style.css' %}"/>
  <breadcrumbs class="breadcrumbs">
    <ul class="items" style="list-style: none;">
      <li class="item-Home">
        <a href="{% url 'cp_shop_online_app:main_page' %}" title="main" style="text-decoration: none; color: black;">Home</a>
      </li>
      <li class="item-Login" style="margin-left: 5px;">
        <strong>Login</strong>
      </li>
    </ul>
  </breadcrumbs>

  <div class="login-part">

    <div class="block-new-customer-heading-mobile">
      <p>
        <span>Not a member yet?</span>
      </p>
      <a href="{% url 'cp_shop_online_app:register_page' %}">
        <span>Register Now</span>
      </a>
    </div>

    <div class="login-horizontal-line-mobile">
      <hr>
    </div>

    <div class="left-column login-part-container">
      <h3><span>LOGIN</span></h3>
      <p>Welcome to Computer store</p>

      <form method="POST">
        {% csrf_token %}
        {{ form }}
        {% if request.GET.next %}
            <input type="hidden" name="next" value="{{ request.GET.next }}">
        {% endif %}
        
        <div class="actions-toolbar">
          <a>
            <button class="sign-in-button" type="submit">Sign In</button>
          </a> 
        </div>

      </form>

      

    </div>
    <div class="right-column block-new-customer">
      <div class="block-content">
        
        <h3>
          <span>NOT A MEMBER YET? REGISTER NOW.</span>
        </h3>
        <p class="new-customer-msg">
          Creating an account has many benefits: check out faster, keep more than one address, track orders and more.
        </p>
        <div class="actions-toolbar">
          <a href="{% url 'cp_shop_online_app:register_page' %}" class="create-an-account-button">
            <span>Create an account</span>
          </a>
        </div>

      </div>
    </div>
  </div>

  <script 
    type="text/javascript" 
    src="{% static 'JavaScript/login-page-javascript.js' %}"></script>
  {{ block.super }}
  {% endblock %}
  

