{% extends 'web_page/base-layout.html' %}
{% load staticfiles %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'Stylesheets/product-detail-page-style.css' %}"/>
<breadcrumbs class="breadcrumbs">
  <ul class="items" style="list-style: none;">
    <li class="item-Home">
      <a href="main.html" title="main" style="text-decoration: none; color: black;">Home</a>
    </li>
    <li class="item-Notebook">
      <a href="all-product-page.html" title="main" style="text-decoration: none; color: black;">Notebook</a>
    </li>
    <!-- <li class="item-Brand">
      <a href="all-product-page.html" title="main" style="text-decoration: none; color: black;">Dell</a>
    </li> -->
    
    <li class="item-product-detail">
      <strong>{{ product.brand }}</strong>
    </li>
  </ul>
</breadcrumbs>

<div class="info-container">
  <div class="row">

    <!-- IMAGE -->
    <div class="column">
      <div>
        <!-- <h5 style="text-align: left">DELL Laptop</h5> -->
        <img
          class="product-image"
          src="Notebook_image/Dell/Dell-15.6-Inspiron-15-5000-Series-5584-Multi-Touch-Laptop.jpg"
        />
      </div>
    </div>

    <!-- PRODUCT-DETAIL -->
    <div class="column">
      <div class="notebook-info-box">
        <h3 class="notebook-info">
          {{ product.product_detail }}
        </h3>
        <hr />
        <h6 style="font-weight: lighter; float: left; color: gray;">
          DELL
        </h6>
        <h6 style="font-weight: lighter; float: right; color: gray;">
          SKU W26601105WTHW10_3280_BK_W
        </h6>
        <br />
        <br />
        <h2 class="product-price" style="float: left; margin-left: -28px;">
          ฿ 30,000
        </h2>
        <h4
          class="product-available"
          style="float: right; color: green; margin-right: -150px;"
        >
          In stock
        </h4>
        <br />
        <br />
        <br />
        <h5 class="product-detail" style="font-weight: lighter; text-align: left;">
          Dell Inspiron 22 3280-W26601105WTHW10 AIO คอมพิวเตอร์ All-in-One
          สเปคคุ้มค่า ราคาไม่เกิน 10,000 บาท ดีไซน์เรียบง่าย
          เข้ากับทุกสถานที่ทำงาน พร้อมใช้งานได้เลย Dell Inspiron 22 3277 AIO
          มีหน้าจอ IPS Full HD 21.5 นิ้ว ภาพคมชัด สีสันสวยสมจริง
          ใช้งานได้สบายตา พร้อมกล้อง Webcam แบบป๊อบอัพ ใช้ CPU Intel Pentium
          Gold 5405U และ RAM DDR4 4GB ทำงานพื้นฐานได้สบายๆ มีการ์ดจอออนบอร์ด
          เพียงพอต่อการแต่งภาพเล็กๆ น้อยๆ ได้ PC All-in-One อย่าง Dell
          Inspiron 22 3277 ยังเหมาะกับการใช้งานเพื่อความบันเทิง
          ด้วยระบบเสียง Dell's Cinema Sound ให้อรรถรสทางเสียงได้อย่างดี มี
          Windows 10 ลิขสิทธิ์แท้ บริการ McAfee 15 เดือน พร้อมต่อการใช้งาน
          มีประกัน Onsite 3 ปี
        </h5>

        Qty:
        <div class="item-quantity-and-add-to-cart-button">
          <form>
              <div class="value-button-item-quantity" id="decrease-item-quantity" onclick="decrease_Item_Quantity()" value="Decrease Value">-</div>
              <input type="number" id="number-item-quantity" class="number-item-quantity" value="0" />
              <div class="value-button-item-quantity" id="increase-item-quantity" onclick="increase_Item_Quantity()" value="Increase Value">+</div>
          </form>

          <div class="item-button">
            <button type="submit" class="add-cart-button" style="margin-left: 10px;">
              <i class="fas fa-shopping-cart" style="margin-right: 8px;"></i>
              <span>Add to Cart</span>
            </button>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

<div class="specification-container">
  <h2 >Specification</h2>
  <table class="spec-container-table">
    <tbody>
      <tr>
        <th>Screen size</th>
        <td>15.6 inch</td>
      </tr>
      <tr>
        <th>Processor</th>
        <td>Intel Core i7-9750H</td>
      </tr>
      <tr>
        <th>Processor speed</th>
        <td>2.6 GHz up to 4.5 GHz (12MB Cache)</td>
      </tr>
      <tr>
        <th>Display</th>
        <td>FHD (1920x1080) Anti-Glare 120Hz IPS-level</td>
      </tr>
      <tr>
        <th>Memory</th>
        <td>8 GB DDR4 2666MHz</td>
      </tr>
      <tr>
        <th>Storage</th>
        <td>512 GB SSD</td>
      </tr>
      <tr>
        <th>Graphics</th>
        <td>NIVIDIA Geforce GTX 1650 (4GB GDDR5)</td>
      </tr>
      <tr>
        <th>Operating System</th>
        <td>Windows 10</td>
      </tr>
      <tr>
        <th>Camera</th>
        <td>720P HD</td>
      </tr>
      <tr>
        <th>Opical Drive</th>
        <td>No</td>
      </tr>
      <tr>
        <th>Connection Ports</th>
        <td>3x USB 3.1 Type-A (Gen 1)</td>
      </tr>
      <tr>
        <th>Color</th>
        <td>Black</td>
      </tr>
      <tr>
        <th>Dimensions W x D x H</th>
        <td>36.0 x 27.5 x 2.58 cm.</td>
      </tr>
      <tr>
        <th>Weight</th>
        <td>2.40 kg.</td>
      </tr>
      <tr>
        <th>Warranty</th>
        <td>2 Years carry in + 1 Year Perfect warranty</td>
      </tr>
    </tbody>
  </table>

</div>

<h1 id="Recommended">Recommended</h1>
<hr style="border-width: 0.5px;" />
<div class="new-arrival-container">
  <div class="card">
    <div class="owl-item">
      <a href="#"
        ><img
          src="Notebook_image/Dell/Dell-11.6-Inspiron-11-3000-Series-Multi-Touch-2-in-1-Notebook.jpg"
      /></a>
      <h5>Dell 11.6 Inspiron-11 3000 Series Multi Touch 2-in-1 Notebook</h5>
      <h5 style="float: left">
        18,000
      </h5>
      <h5 style="float: right;">
        BATH
      </h5>

      <div class="add-to-cart-button">
        <button><i class="fas fa-shopping-cart" >
            <span style="margin-left: 10px;">ADD TO CART</span>
            </i>
        </button>
      </div>

    </div>
  </div>

  <div class="card">
    <div class="owl-item">
      <a href="#"
        ><img
          src="Notebook_image/Dell/Dell-13.3-Inspiron-13-5000-Series-Multi-Touch-2-in-1-Notebook.jpg"
      /></a>
      <h5>Dell 13.3 Inspiron-13 5000 Series Multi Touch 2-in-1-Notebook</h5>
      <h5 style="float: left">
        40,000
      </h5>
      <h5 style="float: right;">
        BATH
      </h5>
      <div class="add-to-cart-button">
        <button><i class="fas fa-shopping-cart" >
            <span style="margin-left: 10px;">ADD TO CART</span>
            </i>
        </button>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="owl-item">
      <a href="#"
        ><img
          src="Notebook_image/Lenovo/Lenovo-14-IdeaPad-Flex-Pro-Multi-Touch-2-in-1-Laptop-(Platinum).jpg"
      /></a>
      <h5>
        Lenovo 14 IdeaPad Flex Pro Multi Touch 2-in-1 Laptop (Platinum)
      </h5>
      <h5 style="float: left">
        55,000
      </h5>
      <h5 style="float: right;">
        BATH
      </h5>
      <div class="add-to-cart-button">
        <button><i class="fas fa-shopping-cart" >
            <span style="margin-left: 10px;">ADD TO CART</span>
            </i>
        </button>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="owl-item">
      <a href="#"
        ><img
          src="Notebook_image/Microsoft/Microsoft-Surface-Book-2-13.5-Touch-Screen-PixelSense™-2-in-1-Laptop-Intel-Core-i7-16GB-Memory-512GB-SSD- Silver.jpg"
      /></a>
      <h5>
        Microsoft Surface Book 2-13.5 Touch Screen PixelSense™ 2-in-1 Laptop
      </h5>
      <h5 style="float: left">
        75,000
      </h5>
      <h5 style="float: right;">
        BATH
      </h5>
      <div class="add-to-cart-button">
        <button><i class="fas fa-shopping-cart" >
            <span style="margin-left: 10px;">ADD TO CART</span>
            </i>
        </button>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="owl-item">
      <a href="#"
        ><img
          src="Notebook_image/Microsoft/Microsoft-Surface-Pro 6-12.3-Touch-Screen-Intel-Core-i5-8GB-Memory-128GB-Solid-State-Drive-(Latest Model)-Platinum.jpg"
      /></a>
      <h5>
        Microsoft-Surface-Pro 6-12.3 Touch-Screen
      </h5>
      <br />
      <h5 style="float: left">
        27,500
      </h5>
      <h5 style="float: right;">
        BATH
      </h5>
      <div class="add-to-cart-button">
        <button><i class="fas fa-shopping-cart" >
            <span style="margin-left: 10px;">ADD TO CART</span>
            </i>
        </button>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="owl-item">
      <a href="#"
        ><img src="Notebook_image/Dell/Dell-15.6-XPS-15-9570.jpg "
      /></a>
      <h5>Dell 15.6 XPS 15 9570</h5>
      <br />
      <h5 style="float: left">
        35,000
      </h5>
      <h5 style="float: right;">
        BATH
      </h5>
      <div class="add-to-cart-button">
        <button><i class="fas fa-shopping-cart" >
            <span style="margin-left: 10px;">ADD TO CART</span>
            </i>
        </button>
      </div>
    </div>
  </div>
</div>
<hr style="border-width: 0.5px;" />

<script 
  type="text/javascript"
  src="{% static "JavaScript/product-detail-page.js" %}"
></script>

{{ block.super }}
{% endblock %}
  