body {
  margin-top: 120px;
}

/* ---------------------------- Breadcrumbs --------------------------- */
.breadcrumbs {
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
}

.items {
  display: flex;
  flex-direction: row;
  padding-left: 23px;
}

.item-Home , .item-Notebook{
  color: #a3a3a3;
  cursor: pointer;
}

.item-Notebook::before {
  content: " / ";
  font-weight: bold;
  margin-left: 10px;
}

.item-Brand::before{
  content: " / ";
  font-weight: bold;
  margin-left: 10px;
}

.item-product-detail::before {
  content: " /";
  font-weight: bold;
  margin-left: 10px;
}

/* ---------------------------- Info-container --------------------------- */
.info-container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  margin-top: 40px;
  font-family: Arial, Helvetica, sans-serif;
}

.product-image {
  border: 2px solid black;
  width: 90%;
  height: 90%;
}

.product-detail {
  font-weight: lighter;
  text-align: center;
}
.column {
  float: left;
  width: 45%;
  padding: 10px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.add-cart-button {
  width: 100%;
  height: auto;
  background-image: linear-gradient(yellow, orange);
  border-radius: 5px;
  font-size: 0.85rem;
  font-weight: bold;
  padding: 8px 15px;
  cursor: pointer;
}

.add-cart-button:hover{
  background: linear-gradient(90deg, rgba(255,238,150,1) 8%, rgba(255,172,62,1) 98%);
}


/* ---------------------------- notebook-info --------------------------- */
.notebook-info {
  margin-top: 0;
}

/* ---------------------------- Item-quantity --------------------------- */
.item-quantity-and-add-to-cart-button {
  padding: 8px 0px;
  width: auto;
  display: flex;
  flex-direction: row;
}

.item-quantity-and-add-to-cart-button form {
  width: 150px;
  margin: 0 0 0 -10px;
  text-align: center;
  padding-top: 0px;
  font-size: larger;
}

.item-quantity-and-add-to-cart-button form .value-button-item-quantity{
display: inline-block;
border: 1px solid #ddd;
margin: 0px;
width: 40px;
height: 20px;
text-align: center;
vertical-align: middle;
padding: 5px 0;
background: #eee;
-webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}

.item-quantity-and-add-to-cart-button form .value-button-item-quantity:hover{
  cursor: pointer;
}

.item-quantity-and-add-to-cart-button form #decrease-item-quantity {
  margin-right: -4px;
  border-radius: 0px 0 0 0px;
}

.item-quantity-and-add-to-cart-button form #increase-item-quantity {
  margin-left: -4px;
  border-radius: 0 0px 0px 0;
}

.item-quantity-and-add-to-cart-button form input#number-item-quantity {
  text-align: center;
  border: none;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  margin: 0px;
  width: 40px;
  height: 28px;
  font-size: small;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* ---------------------------- specification-container --------------------------- */
.specification-container{
  margin: 0 0 0 23px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.95rem;
}

.spec-container-table {
  border-top: 1px solid black;
  width: 97%;
  border-collapse: collapse;
}

.spec-container-table tbody tr td {
  padding: 6px 6px;
  font-weight: 300;
}

.spec-container-table tbody tr th {
  width: 50%;
  text-align: left;
  padding: 5px 6px;
  font-weight: bold;
} 

.spec-container-table tbody tr:nth-child(odd){
  background-color: white;
}

.spec-container-table tbody tr:nth-child(even){
  background-color: #ead9dc;
}

/* ---------------------------- specification-container --------------------------- */
h1#Recommended {
  margin: 0 0 0 23px;
  margin-top: 50px; 
  font-family: Arial, Helvetica, sans-serif;
}

@media only screen and (max-width: 768px){
  .breadcrumbs{
    display: none;
  }
}

@media only screen and (max-width: 640px) {
  .column {
    float: left;
    width: 100%;
    padding: 10px;
  }
}
